*,
*::after,
*::before {
    box-sizing: border-box;
}


body {
    color: white;
    font-family: Roboto, "Open Sans", sans-serif;
    background-color: #1e202b;
}

nav.navbar {
    background-color: #1e202b;
    padding: 30px 0px;
}

.navbar-brand img {
    width: 64px;
    height: 38px;
}

.navbar-brand h2 {
    font-weight: 700;
    font-size: 16px;
    color: white;
}

.navbar-brand small {
    font-weight: 300;
    font-size: 10px;
    color: rgb(191, 193, 200);
}

.nav-item a.nav-link { 
    color: white;
    padding: 5px 25px !important;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: 0.3s ease;
    font-weight: 400;
}

.nav-item a:hover { 
    border-color: #009ad8;
    color: #009ad8;
}

.navbar-nav .nav-link.active { 
    border-color: #009ad8;
    color: #009ad8;
}
.nav-link:focus, .nav-link:hover {
    --bs-nav-link-hover-color:#009ad8;
    color: var(--bs-nav-link-hover-color);
    border-color: #009ad8;

}
.mainImage {
    background-image: url(../banner.png);
    background-position: center center;
    background-size: cover;
    min-height: 350px;
    padding: 70px 0px;

}

.customInput {
    padding: 20px 50px 20px 20px;
    background-color: #1e202b;
}

#search::placeholder {
    color: gray;
    opacity: 1;
}

.form-control {
    --bs-border-color: #1e202b;
}

.form-control:focus {
    --bs-body-color: white;
    --bs-body-bg: #1e202b;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    box-shadow: 0 0 0 0;
}

.searchLocation button {
    top: 10px;
    right: 10px;
}

.btn {
    --bs-btn-padding-x: 40px;
    --bs-btn-padding-y: 10px;
}


.weatherInfo {
    background-color: #1e202b;
}

.weather {
    padding: 30px 20px;
}

.today {
    background-color: #323544;
}

.dayAndDate {
    background-color: rgba(0, 0, 0, 0.2);
}

#today_date_day_number {
    font-weight: 400;
    color: rgb(191, 193, 200);
    font-size: 14px;
}

#today_date_month {
    font-weight: 400;
    color: rgb(191, 193, 200);
    font-size: 14px;
}


.dayAndDate p {
    font-weight: 400;
    color: rgb(191, 193, 200);
    font-size: 14px;
}

.weather .city {
    font-weight: 400;
    font-size: 18px;
}

.todayTemp {
    font-weight: 700;
    font-size: 90px;
    line-height: 135px;
    color: rgb(191, 193, 200);
}

.weather img {
    width: 90px;
}

.icons img {
    width: 20px;
}

.weather .icons {
    color: rgb(191, 193, 200);
}

.weather span.degree {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.today {
    height: 100%;
}

.tomorrow {
    height: 100%;
}

.dayAfterTomorrow {
    background-color: #323544;
    height: 100%
}

.weatherInfo .container {
    margin-top: -150px;
    overflow: hidden;
}

.final {
    background-color: #262936;
}

#email::placeholder {
    color: gray;
    opacity: 1;
}

.emailLocation button {
    top: 10px;
    right: 10px;
}

.social-links a {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    background: #1e202b;
    color: #009ad8;
    text-align: center;
    line-height: 2;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-size: 20px;
    font-size: 1.4285714286em;
}

.social-links a:hover {
    background: #009ad8;
    color: white;
}